html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  background: #000000;
  color: #ffffff;
  text-align: center;
  padding: 1vh 1vw;
}

.main {
  width: 90vw;
  margin: 0 auto;
}

.blogs, .bios {
  border-top: 1px solid #bbbbbb;
  margin: 2.5vh 0;
  padding: 2.5vh 0;
}

.author {
  font-size: 14px;
  font-weight: 200;
}

.bio-pic {
  width: 100px;

}
